@model RazorEF.Helpers.PagingModel

@{
  int currentPage = @Model.CurrentPage;
  int countPages = @Model.CountPages;
  var generateUrl = @Model.GenerateUrl;

  if (countPages <= 1) return;

  int? prevPage = null;
  int? nextPage = null;

  if (currentPage > 1 ) { prevPage = currentPage - 1; };
  if (currentPage < countPages) { nextPage = currentPage + 1; };

  int delta = 5;
  int remain = delta * 2;

  // Add pages to pageRanges
  List<int> pageRanges = new List<int>();
  pageRanges.Add(currentPage);
  for (int i = 1; i <= delta; i++)
  {
      if (currentPage + i <= countPages) {
        pageRanges.Add(currentPage + i);
        remain--;
      }
      if (currentPage - i >= 1) {
        pageRanges.Insert(0, currentPage - i);
        remain--;
      }
  }

  // Add rest pages for start & end cases
  if (remain > 0) {
    if (pageRanges[0] == 1) {
      for (int i = 1; i <= remain; i++)
      {
        if (pageRanges.Last() + 1 <= countPages) {
          pageRanges.Add(pageRanges.Last() + 1);
        }
      }
    } else {
      for (int i = 1; i <= remain; i++)
      {
        if (pageRanges.First() - 1 > 1) {
          pageRanges.Insert(0, pageRanges.First() - 1);
        }
      }
    }
  }
}

<ul class="pagination">
  @if (prevPage == null) {
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
    </li>
  } else {
    <li class="page-item">
      <a class="page-link" href="@generateUrl(prevPage)">Prev</a>
    </li>
  }

  @foreach (var pageItem in pageRanges)
  {
    if (pageItem == currentPage) {
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">@pageItem <span class="sr-only">(current)</span></a>
      </li>
    } else {
      <li class="page-item">
        <a class="page-link" href="@generateUrl(pageItem)">
          @pageItem
        </a>
      </li>
    }
  }

  @if (nextPage == null) {
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
  } else {
    <li class="page-item">
      <a class="page-link" href="@generateUrl(nextPage)">Next</a>
    </li>
  }
</ul>