@page "/admin/roles"
@model RazorEF.Areas.Admin.Pages.Role.IndexModel
@{
  ViewData["Title"] = "Roles list";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<div class="mb-2">
  <a class="btn btn-secondary" asp-page="./Create">Create</a>
</div>

<table class="table">
  <tr>
    <th>Role Name</th>
    <th>Actions</th>
  </tr>
  <tr>
    @foreach (var role in Model.Roles)
    {
      <td>@role.Name</td>
      <td>
        <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid="@role.Id">Edit</a>
        <a class="btn btn-success btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Delete</a>
      </td>
    }
  </tr>
</table>
